
.Cell {
  width: 100px;
  height: 100px;
  background-color: #228b22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StoneEmpty {
    display: none;
}


.StoneBlack {
    display: center;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
}

.StoneWhite {
    display: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}